@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(20.99% 0.0341 263.44);
  --background-secondary: oklch(0.3 0.04 263.99);
  --accent: oklch(87.91% 0.2134 155.95);
  --accent-hover: oklch(80.31% 0.1799 160.6);
}

.dark {
  --background: oklch(20.99% 0.0341 263.44);
  --background-secondary: oklch(0.3 0.04 263.99);
  --accent: oklch(0.7 0.2 44.36);
  --accent-hover: oklch(80.31% 0.1799 160.6);
}

@theme inline {
  /* Font */
  --font-jetbrains: 'JetBrains Mono', monospace;

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  /* Colors */
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply font-jetbrains bg-background text-white leading-loose;
  }
}
